project:
  type: website

website:
  title: "universe-report"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - new_analysis.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true



